<a href="https://colab.research.google.com/github/StefaneBG/MongoDB-pymongo/blob/main/MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymongo

In [ ]:
!curl ipecho.net/plain

In [ ]:
from pymongo import MongoClient
# Importa a biblioteca pandas para manipulação de dados em formato de tabela
import pandas as pd

# Conectar ao MongoDB Atlas
# Substitua <MONGO_URI> pela URI de conexão do seu banco de dados MongoDB
# Exemplo de URI: 'mongodb+srv://<usuario>:<senha>@cluster0.kbdw3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
client = MongoClient('<MONGO_URI>')

# Seleciona o banco de dados 'locadora' para operações subsequentes
db = client['locadora']  # Nome do banco de dados

In [ ]:
carro = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSznlX7UXeH_LeKcNteiDnWvdwZyydAQl0_x8NU9cx6G00Zh7SMrjoUuNpytVq7U-iQVzQNJ7jC7GpY/pub?gid=306989914&single=true&output=csv')
carro = carro.to_dict(orient='records')
db.carro.insert_many(carro)

In [ ]:
cliente = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQW3fP3j4qoiMGBXDAGzg_9IW2b3zgjdkVKLsURNVe9QezpHXimWfKle_55CQQtkeWL69OAASBDNdk8/pub?gid=2073489257&single=true&output=csv')
cliente = cliente.to_dict(orient='records')
db.cliente.insert_many(cliente)

In [ ]:
marca = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSI-4_QEFwZ6eDGwUDlip0_PGBn7d_F7j59UwXmRvWbQFyy01ENPatjkbO1E8k5ZW5lqSY9ox112j7X/pub?gid=1160143272&single=true&output=csv')
marca = marca.to_dict(orient='records')
db.marca.insert_many(marca)

In [ ]:
# Listando todos os bancos do Cluster
print(client.list_database_names())

# OPERADORES DE COMPARAÇÃO

In [ ]:
'''
igual a ($eq)
diferente de ($ne)
maior que ($gt)
maior ou igual a ($gte)
menor que ($lt)
menor ou igual a ($lte)
'''

In [ ]:
# Alternativa utilizando o operador $eq
'''
Faça uma consulta que retorne todos os documentos
da coleção carro cujo valor seja igual a 150
'''
igual_150=pd.DataFrame(list(db.carro.find({'valor': {'$eq': 150}})))
igual_150

In [ ]:
'''
Faça uma consulta e retorne todos os modelos de carros diferentes de Kwid
'''

ne_kwid = pd.DataFrame(list(db.carro.find({'modelo': {'$ne': 'Kwid'}})))
if '_id' in ne_kwid.columns:
  ne_kwid.drop('_id', axis=1, inplace=True)
else:
  pass
ne_kwid.head()

In [ ]:
'''
Faça uma consulta que retorne todos os carros cujo valor seja maior que 120
'''
maior_120 = pd.DataFrame(list(db.carro.find({'valor': {'$gt': 120}})))
if '_id' in maior_120.columns:
  maior_120.drop('_id', axis=1, inplace=True)
else:
  pass
maior_120.head()

In [ ]:
'''
Faça uma consulta que retorne todos os carros cujo valor seja maior e igual que 120
'''
maiorouigual_120 = pd.DataFrame(list(db.carro.find({'valor': {'$gte': 120}})))
if '_id' in maiorouigual_120.columns:
  maiorouigual_120.drop('_id', axis=1, inplace=True)
else:
  pass
maiorouigual_120.head()

In [ ]:
'''
Faça uma consulta que retorne todos os carros cujo valor seja menor que 120
'''
menor_120 = pd.DataFrame(list(db.carro.find({'valor': {'$lt': 120}})))
if '_id' in menor_120.columns:
  menor_120.drop('_id', axis=1, inplace=True)
else:
  pass
menor_120.head()

In [ ]:
'''
Faça uma consulta que retorne todos os carros cujo valor seja menor ou igual que 120
'''
menorouigual_120 = pd.DataFrame(list(db.carro.find({'valor': {'$lte': 120}})))
if '_id' in menorouigual_120.columns:
  menorouigual_120.drop('_id', axis=1, inplace=True)
else:
  pass
menorouigual_120.head()

#Operadores de verificação

In [ ]:
'''
Fça uma consult que retorne todos os documentos da coleção cliente onde o campo estadocivil tenha valor valido ($exists)
'''
estadocivil_valido = pd.DataFrame(list(db.cliente.find({'estadocivil': {'$exists': True}})))
if '_id' in estadocivil_valido.columns:
  estadocivil_valido.drop('_id', axis=1, inplace=True)
else:
  pass
estadocivil_valido.head()

In [ ]:
'''
Fça uma consult que retorne todos os documentos da coleção cliente onde o campo estadocivil não tenha valor valido ($exists)
'''
estadocivil_invalido = pd.DataFrame(list(db.cliente.find({'estadocivil': {'$exists': False}})))
if '_id' in estadocivil_invalido.columns:
  estadocivil_invalido.drop('_id', axis=1, inplace=True)
else:
  pass
estadocivil_invalido.head()

In [ ]:
'''
Faça uma consulta que retorne todos os documentos da coleção cliente cujo os valores dos campo nome  sejam do tipo string
'''
nome_string = pd.DataFrame(list(db.cliente.find({'nome':{'$type':'string'}})))
if '_id' in nome_string.columns:
  nome_string.drop(columns=['_id'], inplace=True)
else:
  pass
nome_string.head()

In [ ]:
'''
Faça uma consulta que retorne todos os documentos da coleção
carro cujos valores do campo codcarro sejam do tipo int
'''
a = list(db.carro.find({'codcarro':{'$type':'int'}}))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consulta que retorne os documentos da caloeção aluguel cujos
valores do campo data_aluguel sejam do tipo 'string'
'''
a = list(db.aluguel.find({'data_aluguel':{'$type':'string'}}))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

# Operadores Lógicos (AND e OR)\

In [ ]:
'''
Faça uma consulta que retorne todos os documentos da coleção
cliente que sejam solteiros e do sexo masculino
'''
a = list(db.cliente.find({'$and':[{'estadocivil':'S'},{'sexo':'M'}]}))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consulta que retorne todos os documentos da coleção
carro que sejam Ka, Argo ou Onix e valor acima de 120
'''
a = list(db.cliente.find({
    '$and': [
        {'nome': {'$in': ['Ana Silva', 'Bruna Pereira', 'Lúcia Andrade']}},
        {'estado': {'$eq': 'RJ'}},
        {'estadocivil': {'$eq': 'C'}}
    ]
}))

df = pd.DataFrame(a)

if '_id' in df.columns:
    df.drop('_id', axis=1, inplace=True)

df.head()

In [ ]:
'''
Faça uma consulta que retorne todos os documentos da coleção
cliente cujo nome seja Ana Silva, Bruna Pereira ou Fernando Souza e
do SP e estadocivil S e sexo M
'''
a = list(db.cliente.find({
    '$and':[
        {'nome':{'$in':['Ana Silva', 'Bruna Pereira','Fernando Souza']}},
        {'estado':{'$eq':'SP'}},
        {'estadocivil':{'$eq':'S'}},
        {'sexo':{'$eq':'M'}}
]
}
))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consulta que retorne todos os modelos de carro
que sejam Kwid ou Polo
'''
a = list(db.carro.find(
    {'$or':[
        {'modelo':'Kwid'},
        {'modelo':'Polo'}
    ]}
))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consulta que retorne todos os modelos de carro
que sejam Kwid ou Polo
'''
a = list(db.carro.find(
    {'modelo':{'$in':['Kwid','Polo']}}
))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consulta que retorne os documentos da coleção aluguel
que tenham acontecido entre 01 de abril de 2023 e 04 de abril de 2023
(inclusive) e sejam os carros de código 1, 3 ou 5 e alugados pelos
clientes 2, 4 ou 5.
'''
a = list(db.aluguel.find(
    {'$and':[
{'data_aluguel':{'$in':['2023-04-01','2023-04-02','2023-04-03','2023-04-04']}},
{'codcarro':{'$in':[1, 3 , 5]}},
{'codcliente':{'$in':[2, 4, 5]}}
    ]}
))
df = pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

# Estágios de agregação

In [ ]:

'''
Faça uma consulta que retorne a quantidade de documentos na coleção carro
'''
list(db.carro.aggregate([
    {'$count':'contagem de carros'}
]))

In [ ]:
'''
Faça uma consulta que retorne a soma dos valores dos carros
'''
a = list(db.carro.aggregate([
    {
        '$group': {
            '_id': '$modelo',  # Agrupa pelo modelo do carro
            'valor_total': {'$sum': '$valor'}  # soma o valor dos carros agrupados
        }
    }]))
df=pd.DataFrame(a)

df.head()

In [ ]:
a = list(db.carro.aggregate([
    {
        '$group': {
            '_id': '$modelo',  # Agrupa pelo modelo do carro
            'contagem': {'$count': {}}  # conta carros agrupados
        }
    }]))
df=pd.DataFrame(a)
if '_id' in df.columns:
    df.rename(columns={'_id':'modelo'}, inplace=True)
else:
  pass

df.head()

In [ ]:
'''
groupby(): Agrupar os dados por diferentes critérios.
sum(): Calcular a soma de colunas numéricas.
mean(): Calcular a média de colunas numéricas.
describe(): Obter estatísticas descritivas do DataFrame.
sort_values(): Ordenar os dados por uma determinada coluna.
'''

In [ ]:
'''
Faça uma consulta que retorne a soma dos valores dos carros
'''

a = list(db.carro.aggregate([
    {
        '$group': {
            '_id': '$modelo',  # Agrupa pelo modelo do carro
            'contagem': {'$count': {}}  # conta carros agrupados
        }
    }]))
df=pd.DataFrame(a)

df.head()

#exercicios

In [ ]:
'''
Faça uma consulta que retorne os documentos os documentos da coleção
cliente que sejam de Duque de Caxias e do sexo Femenino
'''
a=list(db.cliente.find(
    {
    '$and':[
        {'cidade':'Duque de Caxias'},
        {'sexo':'F'}
    ]
}))
df=pd.DataFrame(a)
if '_id' in df.columns:
  df.drop('_id', axis=1, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consulta que retorna todos os carros que sejam da marca Fiat ou Renault
'''
a= list(db.carro.find(
    {'$or':[
        {'marca':'Fiat'},
        {'marca':'Renault'}
    ]}
))
df=pd.DataFrame(a)
if '_id' in df.columns:
  df.drop(columns={'_id'}, inplace=True)
else:
  pass
df.head()

In [ ]:
'''
Faça uma consultas que retonr a soma de todos os códigos de carro
'''

In [ ]:
'''
Retorne todos os documentos da coleção aluguel do dia 21 de abril de 2023
'''

In [ ]:
'''
Retorne todos os documentos da coleção de carros cujo valor seja maior que 50
'''

# Joins

In [ ]:
'''
$lookup
$unwind
$project
'''

In [ ]:
'''
list(db.colecao1.aggregate([{'$lookup':{'from':'colecao2','localField':'chave_colecao2','foreignField':'chave_colecao1','as':'alias_resultante'}},
{'$unwind':$alias_resultante},{'$project':{'_id':0,'campo_colecao1':1,'campo_resultante':'$campo_resultante_1'}}]))
'''

In [ ]:
# Exemplo
a = list(db.carro.aggregate([
    {'$lookup':{'from':'marca','localField':'codmarca','foreignField':'codmarca','as':'carro_marca'}},
    {'$unwind':'$carro_marca'},
     {'$project':{'_id':0,'modelo':1,'marca':'$carro_marca.marca'}}]))
df = pd.DataFrame(a)
display(df)

In [ ]:
a = list(db.aluguel.aggregate([
    {'$lookup':{
        'from':'carro',
        'localField':'codcarro',
        'foreignField':'codcarro',
        'as':'aluguel_carro'
    }}
    ,{'$unwind':'$aluguel_carro'},
     {
      '$lookup':{
         'from':'cliente',
         'localField':'codcliente',
         'foreignField':'codcliente',
         'as':'completo'
      }
    },

    {'$unwind':'$completo'},

   {'$project':{
       '_id':0,
       #'codaluguel':1,
       'codcliente':1,
       'codcarro':1,
       'data_aluguel':1,
       'codmarca':'$aluguel_carro.codmarca',
       'modelo':'$aluguel_carro.modelo',
       'valor':'$aluguel_carro.valor',
       'nome':'$completo.nome',
       'cidade':'$completo.cidade',
       'sexo':'$completo.sexo',
       'estado':'$completo.estado',
       'estadocivil':'$completo.estadocivil'
       }}

]))
df = pd.DataFrame(a)
display(df)

In [ ]:
'''
Faça uma consulta que retorne os modelos e as datas em que foram alugados
'''
a = list(
    db.aluguel.aggregate([
        {'$lookup':{
            'from':'carro',
            'localField':'codcarro',
            'foreignField':'codcarro',
            'as':'aluguel_carro'
        }},
        {'$unwind':'$aluguel_carro'},
        {'$project':{
            '_id':0,
            'modelo':'$aluguel_carro.modelo',
            'data_aluguel':1
        }}
    ])
)
df = pd.DataFrame(a)
display(df)

In [ ]:
'''
Faça uma consulta que retorne O nome dos clientes, os modelos alugados e as datas
dos alugueis
'''
a=list(
    db.aluguel.aggregate([
        {'$lookup':{
            'from':'carro',
            'localField':'codcarro',
            'foreignField':'codcarro',
            'as':'aluguel_carro'
        }},
        {'$unwind':'$aluguel_carro'},
        {'$lookup':{
            'from':'cliente',
            'localField':'codcliente',
            'foreignField':'codcliente',
            'as':'aluguel_cliente'
        }},
        {'$unwind':'$aluguel_cliente'},
        {
            '$project':{
                '_id':0,
                'nome':'$aluguel_cliente.nome',
                'modelo':'$aluguel_carro.modelo',
                'data_aluguel':1
            }
        }
        ])
)
df=pd.DataFrame(a)
display(df)

In [ ]:
'''
Faça uma consulta que retorne nome, modelo e data de aluguel, para todos os
documentos que contenham o nome Bruna Pereira e os modelos de carros Ka ou Polo
'''
a = list(db.aluguel.aggregate([
    {'$lookup': {
        'from': 'carro',
        'localField': 'codcarro',
        'foreignField': 'codcarro',
        'as': 'aluguel_carro'
    }},
    {'$unwind': '$aluguel_carro'},
    {'$lookup': {
        'from': 'cliente',
        'localField': 'codcliente',
        'foreignField': 'codcliente',
        'as': 'completo'
    }},
    {'$unwind': '$completo'},
    {'$match': {
        '$and': [
            {'completo.nome': 'Bruna Pereira'},  # Nome específico
            {'aluguel_carro.modelo': {'$in': ['Ka', 'Polo']}}  # Modelos específicos
        ]
    }},
    {'$project': {
        '_id': 0,
        'nome': '$completo.nome',
        'data_aluguel': 1,
        'modelo': '$aluguel_carro.modelo'
    }}
]))

df = pd.DataFrame(a)
display(df)

In [ ]:

a = list(db.aluguel.aggregate([
    {'$lookup': {
        'from': 'carro',
        'localField': 'codcarro',
        'foreignField': 'codcarro',
        'as': 'aluguel_carro'
    }},
    {'$unwind': '$aluguel_carro'},
    {'$lookup': {
        'from': 'cliente',
        'localField': 'codcliente',
        'foreignField': 'codcliente',
        'as': 'completo'
    }},
    {'$unwind': '$completo'},
    {'$group': {
        '_id': '$aluguel_carro.modelo',  # Agrupando pelo modelo do carro
        'clientes_unicos': {'$addToSet': '$completo.nome'},  # Lista única de clientes por modelo
        'total_alugueis': {'$sum': 1}  # Contagem total de alugueis por modelo
    }},
    {'$project': {
        '_id': 0,
        'modelo': '$_id',
        'total_alugueis': 1,
        'clientes_unicos': 1
    }}
]))

df = pd.DataFrame(a)
display(df)

In [ ]:
'''
Ordenando pela quantidade de aluguéis de forma inversa
'''

In [ ]:

a = list(db.aluguel.aggregate([
    {'$lookup': {
        'from': 'carro',
        'localField': 'codcarro',
        'foreignField': 'codcarro',
        'as': 'aluguel_carro'
    }},
    {'$unwind': '$aluguel_carro'},
    {'$lookup': {
        'from': 'cliente',
        'localField': 'codcliente',
        'foreignField': 'codcliente',
        'as': 'completo'
    }},
    {'$unwind': '$completo'},
    {'$group': {
        '_id': '$aluguel_carro.modelo',  # Agrupando pelo modelo do carro
        'clientes_unicos': {'$addToSet': '$completo.nome'},  # Lista única de clientes por modelo
        'total_alugueis': {'$sum': 1}  # Contagem total de alugueis por modelo
    }},
    {'$sort': {
        'total_alugueis': -1  # Ordenação decrescente pelos alugueis
    }},
    {'$project': {
        '_id': 0,
        'modelo': '$_id',
        'total_alugueis': 1,
        'clientes_unicos': 1
    }}
]))

df = pd.DataFrame(a)
display(df)

# Exercícios

In [ ]:
'''
 1 - Encontre todos os aluguéis e o estado civil dos clientes que alugaram os
 carros.
'''
a = list(db.aluguel.aggregate([
    {'$lookup': {
        'from': 'carro',
        'localField': 'codcarro',
        'foreignField': 'codcarro',
        'as': 'aluguel_carro'
    }},
    {'$unwind': '$aluguel_carro'},
    {'$lookup': {
        'from': 'cliente',
        'localField': 'codcliente',
        'foreignField': 'codcliente',
        'as': 'completo'
    }},
    {'$unwind': '$completo'},
    {'$project': {
        '_id': 0,
        'data_aluguel': 1,
        'modelo': '$aluguel_carro.modelo',
        'nome': '$completo.nome',
        'estadocivil': '$completo.estadocivil'
    }}
]))

df = pd.DataFrame(a)
display(df)

In [ ]:
'''
 1 - Encontre todos os aluguéis e o estado civil dos clientes que alugaram os
 carros.
'''
a = list(
    db.aluguel.aggregate([
        {'$lookup': {
            'from': 'cliente',
            'localField': 'codcliente',
            'foreignField': 'codcliente',
            'as': 'aluguel_cliente'
        }},
        {'$unwind': '$aluguel_cliente'},
        {'$lookup': {
            'from': 'carro',
            'localField': 'codcarro',
            'foreignField': 'codcarro',
            'as': 'aluguel_carro'
        }},
        {'$unwind': '$aluguel_carro'},
        {'$group': {
            '_id': '$aluguel_cliente.nome',
            'estado_civil': {'$first': '$aluguel_cliente.estadocivil'},
            'total_alugueis': {'$sum': 1},

        }},
        {'$project': {
            '_id': 0,
            'nome': '$_id',
            'total_alugueis': 1,
            'estado_civil': 1
        }},
    ])
)
df = pd.DataFrame(a)
display(df)

In [ ]:
'''
2 - Liste os clientes e as cidades em que moram para aqueles que alugaram carros.
'''
a = list(
    db.cliente.aggregate([
        {'$lookup': {
            'from': 'aluguel',
            'localField': 'codcliente',
            'foreignField': 'codcliente',
            'as': 'cliente_aluguel'
        }},
        {'$match': {'cliente_aluguel': {'$ne': []}}},  # Filtrar apenas clientes que têm registros de aluguel
        {'$project': {
            'nome': 1,
            'cidade': 1,
            '_id': 0
        }}
    ])
)
df = pd.DataFrame(a)
display(df)

In [ ]:
'''
2 - Liste os clientes e as cidades em que moram para aqueles que alugaram carros.
'''
a = list(db.aluguel.aggregate([
    {'$lookup': {
        'from': 'cliente',
        'localField': 'codcliente',
        'foreignField': 'codcliente',
        'as': 'cliente_info'
    }},
    {'$unwind': '$cliente_info'},
    {'$project': {
        '_id': 0,
        'nome': '$cliente_info.nome',
        'cidade': '$cliente_info.cidade'
    }},
    {'$group': {
        '_id': {
            'nome': '$nome',
            'cidade': '$cidade'
        }}},
    {'$project': {
        '_id': 0,
        'nome': '$_id.nome',
        'cidade': '$_id.cidade'
    }}
]))

df = pd.DataFrame(a)
display(df)

In [ ]:
'''
3 - Liste os clientes que alugaram carros e os modelos de carros que eles
alugaram, incluindo a marca do carro.
'''
a = list(db.cliente.aggregate([
    {'$lookup': {
        'from': 'aluguel',
        'localField': 'codcliente',
        'foreignField': 'codcliente',
        'as': 'cliente_aluguel'
    }},
    {'$unwind': '$cliente_aluguel'},
    {'$lookup': {
        'from': 'carro',
        'localField': 'cliente_aluguel.codcarro',
        'foreignField': 'codcarro',
        'as': 'carro_aluguel'
    }},
    {'$unwind': '$carro_aluguel'},
    {'$lookup': {
        'from': 'marca',
        'localField': 'carro_aluguel.codmarca',
        'foreignField': 'codmarca',
        'as': 'marca_carro'
    }},
    {'$unwind': '$marca_carro'},
    {'$group': {
        '_id': '$marca_carro.marca',
        'nomes': {'$addToSet': '$nome'},
        'modelos_alugados': {'$addToSet': '$carro_aluguel.modelo'}
    }},
    {'$project': {
        '_id': 0,
        'marca': '$_id',
        'nomes': 1,
        'modelos_alugados': 1
    }}
]))
df = pd.DataFrame(a)
display(df)

In [ ]:
'''
4 - Encontre todos os aluguéis realizados em uma cidade específica e liste os
nomes dos clientes e os modelos de carros alugados.
'''
a = list(db.aluguel.aggregate([
      {'$lookup': {
            'from': 'cliente',
            'localField': 'codcliente',
            'foreignField': 'codcliente',
            'as': 'aluguel_cliente'
        }},
        {'$unwind': '$aluguel_cliente'},
        {'$lookup': {
            'from': 'carro',
            'localField': 'codcarro',
            'foreignField': 'codcarro',
            'as': 'aluguel_carro'
        }},
         {'$unwind': '$aluguel_carro'},
        {'$match': {

            'aluguel_cliente.cidade': 'Duque de Caxias'
        }},
      {
          '$group': {
            '_id': '$aluguel_cliente.nome',
            'modelo_carro': {'$addToSet': '$aluguel_carro.modelo'}
        }
      },
        {'$project': {
            '_id': 0,
            'nome_cliente': '$aluguel_cliente.nome',
            'modelo_carro': '$aluguel_carro.modelo'
        }}
]))
df = pd.DataFrame(a)
display(df)

In [ ]:
'''
5 - Liste os modelos de carros e a quantidade de vezes que foram alugados.
'''
a= list(db.aluguel.aggregate([
   {
       '$lookup':{
           'from':'carro',
           'localField':'codcarro',
           'foreignField':'codcarro',
           'as':'aluguel_carro'
       }},
       {
           '$unwind':'$aluguel_carro'
       },
       {'$group':{
           '_id':'$aluguel_carro.modelo',
           'total_alugueis':{'$sum':1}}

   }
   ,{'$project':{
       '_id':0,
       'modelo':'$_id',
       'total_alugueis':1}}
]))
df=pd.DataFrame(a)
display(df)

In [ ]:
'''
6 - Encontre os clientes que alugaram mais de um carro.
'''
a= list(db.aluguel.aggregate([
    {'$lookup':{
        'from':'cliente',
        'localField':'codcliente',
        'foreignField':'codcliente',
        'as':'aluguel_cliente'
    }},
    {'$unwind':'$aluguel_cliente'},
    {'$group':{
        '_id':'$aluguel_cliente.nome',
        'total_alugueis':{'$sum':1}
    }},
    {'$match':{
        'total_alugueis':{'$gt':1}}},
    {'$project':{
        '_id':0,
        'nome':'$_id',
        'total_alugueis':1
    }}
]))
df=pd.DataFrame(a)
display(df)

In [ ]:
'''
7 - Liste os clientes que alugaram carros mais de uma vez e os modelos e
marcas dos carros que alugaram.
'''
a= list(db.aluguel.aggregate([
    {'$lookup':{
        'from':'cliente',
        'localField':'codcliente',
        'foreignField':'codcliente',
        'as':'aluguel_cliente'
    }},
    {'$unwind':'$aluguel_cliente'},
    {'$lookup':{
        'from':'carro',
        'localField':'codcarro',
        'foreignField':'codcarro',
        'as':'aluguel_carro'
    }},
    {'$unwind':'$aluguel_carro'},
    {'$lookup':{
        'from':'marca',
        'localField':'aluguel_carro.codmarca',
        'foreignField':'codmarca',
        'as':'marca_carro'
    }},
    {'$unwind':'$marca_carro'},
    {
        '$match':{
            'aluguel_cliente.nome':{'$exists':True}
        }
        }
    ,{'$group':{
        '_id':'$aluguel_cliente.nome',
        'total_alugueis':{'$sum':1},
        'modelos_alugados':{'$addToSet':'$aluguel_carro.modelo'},
        'marcas_alugadas':{'$addToSet':'$marca_carro.marca'}
    }}
    ,{'$project':{
        '_id':0,
        'nome':'$_id',
        'total_alugueis':1,
        'modelos_alugados':1,
        'marcas_alugadas':1
    }}

]))
df=pd.DataFrame(a)
display(df)